$backHeader : #116ACC;
$colorHeader: #ffffff;
$colorLabel: #000000;
$bgForm: #f3f4f6;
$colorForm: #182233;
$colorPlaceholder: #6B7280;
$bgBtn: #116ACC;
$bgBtnHover: #0c4179;
$colorBtn: #ffffff;
$cloorLink: #116acc;
$bgLinkItem: #ffffff;
$hoverLink: #A0C3FF;
$borderSort: #116acc;
$bgBtn: #116ACC;
$colorBtn: #ffffff;
$colorScore: #182233;
$colorLastTransaction: #000000;
$colorBlack: #000000;
$bgBlue: #116acc;
$white: #ffffff;
$bgScoreDetail: #F3F4F6;